@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Nunito', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin : 0;
}

.text-red-primary{
    color: #ff0000;
}

.bg-red-primary {
    background-color: #ff0000;
}