@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family:Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin : 0;
}

.text-red-primary{
    color: #cc0000;
}

.bg-red-primary {
    background-color: #cc0000;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}